/* Color variables */
$dark-blue: rgb(0, 78, 212);
$medium-blue: rgb(50 122 174);
$light-blue: rgb(204 242 255);
$dark-grey: rgb(58, 58, 58);
$light-grey: rgb(234, 234, 234);
$light-yellow: rgb(255, 252, 220);
$medium-gree: rgb(36, 149, 100);

$default-border-radius: 8px;

$card-bg: rgb(236 247 255);
$card-title-color: $dark-blue;

/* end SCSS variables */
