.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    &-text {
        margin-right: 1rem;
    }
}

.button-image{
    width: 30px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -ms-filter: invert(100%);
}