@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i");

/* Color variables */
$dark-blue: rgb(0, 78, 212);
$medium-blue: rgb(50 122 174);
$light-blue: rgb(204 242 255);
$dark-grey: rgb(58, 58, 58);
$light-grey: rgb(234, 234, 234);
$light-yellow: rgb(255, 252, 220);

$default-border-radius: 8px;

$card-bg: rgb(236 247 255);
$card-title-color: $dark-blue;

/* end SCSS variables */

@mixin button-hover {
  opacity: 0.9;
}
body {
  font-family: Roboto;
  font-weight: 400;
  margin: 0;
  background: $card-bg;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  h1 {
    cursor: pointer;
  }
}
#app-container {
  max-width: 50rem;
  padding: 2rem;
  margin: 2rem auto;
  box-shadow: 0px 3px 25px #ccc;
  background: #fff;
}
h2 {
  margin: 1rem 0;
}
h4 {
  margin: 0.5rem 0;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem 0;
  &-today .card-container {
    display: block;
  }
  &-today .card-temperature {
    flex-direction: row;
    align-items: center;
    text-align: center;
    &-text {
      font-size: 0.7rem;
      margin: 0.5rem 0.7rem;
    }
  }
}
.card-today {
  &.card {
    width: 100%;
  }
  .card-days {
    font-size: 1.5rem;
  }
  & h4 {
    font-size: 1.3rem;
    margin: 1rem;
  }
  .card-description {
    font-weight: 600;
    font-size: 1.1rem;
    margin: 1rem;
  }
}

.card {
  background: $card-bg;
  color: $dark-grey;
  border-radius: $default-border-radius;
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  h4 {
    color: $card-title-color;
    font-size: 1.3rem;
  }

  &-description {
    color: $medium-blue;
    font-weight: 500;
  }
  &-temperature {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    flex-direction: column;
    min-width: 7rem;
    align-items: center;
    background: $light-blue;
    border-radius: $default-border-radius;
    width: fit-content;
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;

    &-text {
      font-size: 0.7rem;
      margin: 0.5rem;
    }
    &-value {
      font-weight: 500;
    }
  }
  &-days {
    font-weight: 500;
  }
}

button {
  color: #fff;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  @include button-hover();
}

footer {
  background: $light-yellow;
  color: $dark-grey;
  padding: 0.5rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $default-border-radius;
}

footer > div {
  margin: 1rem;
}

@media all and (max-width: 760px) {
  h1 {
    font-size: 1.2rem;
  }
  #app-container {
    margin: 0;
    box-shadow: none;
    background: none;
    min-height: auto;
  }
  .card {
    margin: 1rem 0;
    background: #ffffff;
    &-today {
      &.card {
        text-align: center;
      }
    }
    &-temperature {
      flex-direction: row;
    }
  }

  .card-container {
    margin: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
  }
  .card-today.card {
    width: inherit;
    margin-bottom: 0;
  }
  .button {
    padding: 0.4rem;
  }
  .button-image {
    width: 20px;
  }
  .button-text {
    margin-right: 0.5rem;
    font-size: 0.7rem;
  }
  .button:nth-child(1) {
    margin-left: 0.2rem;
  }
}
